<ons-page ng-controller="connectUsersController" ng-init="connect(); loadConnectState();">
    <ng-include src="'pages/detail/connectusToolbar.html'"></ng-include>

    <h3 style="display:inline;margin-left:15px;margin-top:10px;">Usercomparison</h3>
   
    <ng-include src="'pages/detail/userInfo.html'"></ng-include>
    
    <ons-scroller style="border-top: 2px solid black;">
        <div style="margin-left:10px;margin-right:10px;">
            <b>About me</b>
            <p>{{user.about}}</p>
        </div>
        <ons-list id="educationList" ng-if="compareEducation">
            <span>
                <ons-list-header>
                    Education <ons-icon icon="fa-graduation-cap"
                                        size="lg"
                                        fixed-width="false"
                                        class="headerIconRight">
                    </ons-icon>
                </ons-list-header>

            </span>
            <ons-list-item ng-repeat="edu in equalEducations">
                <ons-row>
                    <ons-col width="20%">{{edu.dateTo}}</ons-col>
                    <ons-col class="comparisonMainInfo" width="80%">{{edu.name}}</ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item ng-if="equalEducations.length == 0 && loadingCounter == 0">You have no matching education objects.</ons-list-item>
        </ons-list>

        <ons-list id="workList" ng-if="compareWork">
            <span>
                <ons-list-header>
                    Work <ons-icon icon="fa-building"
                                   size="20px"
                                   fixed-width="false"
                                   class="headerIconRight">
                    </ons-icon>
                </ons-list-header>

            </span>
            <ons-list-item ng-repeat="work in equalWork">
                <ons-row>
                    <ons-col style="margin-top:5px;line-height:normal;" class="fontDate verticalMiddle" width="20%">
                        {{work.dateFrom}}<br />
                        -<br />
                        {{work.dateTo}}
                    </ons-col>
                    <ons-col class="comparisonMainInfo" width="80%">{{work.name}} <span class="comparisonSubInfo">{{work.city}}</span></ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item ng-if="equalWork.length == 0 && loadingCounter == 0">You have no matching work objects.</ons-list-item>
        </ons-list>

        <ons-list id="teamList" ng-if="compareTeams">
            <span>
                <ons-list-header>
                    Teams <ons-icon icon="fa-trophy"
                                    size="20px"
                                    fixed-width="false"
                                    class="headerIconRight">
                    </ons-icon>
                </ons-list-header>

            </span>
            <ons-list-item ng-repeat="team in equalInterests">
                <ons-row class="item-desc textImportant">
                    {{team.name}}
                </ons-row>
                <ons-row class="item-desc textDetail">
                    {{team.description}}
                </ons-row>
            </ons-list-item>
            <ons-list-item ng-if="equalInterests.length == 0 && loadingCounter == 0">You have no matching interests.</ons-list-item>
        </ons-list>
        <ons-list id="athleteList" ng-if="compareAthletes">
            <span>
                <ons-list-header>
                    Athletes <ons-icon icon="fa-futbol-o"
                                     size="20px"
                                     fixed-width="false"
                                     class="headerIconRight">
                    </ons-icon>
                </ons-list-header>

            </span>
            <ons-list-item ng-repeat="team in equalSports">
                <ons-row class="item-desc textImportant">
                    {{team.name}}
                </ons-row>
                <ons-row class="item-desc textDetail">
                    {{team.description}}
                </ons-row>
            </ons-list-item>
            <ons-list-item ng-if="sportInterests.length == 0 && loadingCounter == 0">You have no matching sport interests.</ons-list-item>
        </ons-list>
    </ons-scroller>

    <ons-row class="fixToBottom content-padded" ng-switch="connectState">
        <div ng-switch-when="1" style="width:100%;">
            <div ng-if="requester == 0" class="highlightInfo">Connection requested.</div>
            <div ng-if="requester == 1">
                <div class="highlightInfo" style="margin-bottom:5px;">The user sent you a connect request</div>

                <button class="button--large--cta" style="width:48%;background-color:#ff0000;float:left;margin-right:4%;" ng-click="rejectConnectRequest()">Reject</button>
                <button class="button--large--cta" style="width:48%" ng-click="acceptConnectRequest()">Accept</button>
            </div>
        </div>
        <div ng-switch-when="2" class="highlightPositive" style="width:100%;">
            You are connected.
        </div>
        <div ng-switch-when="3" class="highlightNegative" style="width:100%;">
            <div ng-if="requester == 0">{{}} rejected your connect request..</div>
            <div ng-if="requester == 1">You rejected the connect request.</div>
        </div>
        <button ng-switch-when="0" class="button--large--cta" ng-click="sendConnectRequest()">Connect</button>
    </ons-row>
</ons-page>