<ons-page ng-controller="findUsersController" ng-init="findUsers(false)">
    <ng-include src="'pages/detail/connectusToolbar.html'"></ng-include>

    <div ng-if="!geolocationEnabled" style="margin-top:5px;" class="warningInfo content-padded">
        You have disabled Geolocation in your <button class="button--quiet" style="display:inline;" ng-click="menu.setMainPage('pages/settings.html', { animation: slide });">settings</button>. 
        Please enable it to find people around.
    </div>

    <div ng-if="!geolocationAllowed" style="margin-top:5px;" class="warningInfo content-padded">
        Please enable GPS in your phones settings.
    </div>


    <div ng-if="geolocationAllowed" style="margin-top:5px;">
        <ons-list>
            <ons-list-header>
                Users around <ons-icon icon="fa-user"
                                       size="20px"
                                       fixed-width="false"
                                       class="headerIconRight">
                </ons-icon>
            </ons-list-header>
            <ons-list-item ng-show="users.length === 0">
                <div ng-switch="noUserFound" class="info">
                    <div ng-switch-when="false">Pull down to refresh.</div>
                    <div ng-switch-default>No user found with the selected parameters.</div>
                </div>
            </ons-list-item>
            <ons-list-item ng-class="{active: hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
                            class="item" ng-repeat="user in users" ng-click="$parent.compareUsers(user)" modifier="chevron">
                <ng-include src="'pages/detail/userInfo.html'"></ng-include>
            </ons-list-item>
        </ons-list>

        <ons-list>
            <ons-list-header style="height:50px;line-height:50px;">
                Show already compared users
                <ons-switch modifier="list-item" ng-model="showComparedUsers" ng-change="changeShowComparedUsers()"></ons-switch>
            </ons-list-header>
            <ons-list-item ng-class="{active: hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
                            class="item" ng-repeat="user in comparedusers" ng-click="$parent.compareUsers(user)" modifier="chevron">
                <ng-include src="'pages/detail/userInfo.html'"></ng-include>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>