<ons-page ng-controller="homeController" ng-init="init()">
    <ng-include src="'pages/detail/connectusToolbar.html'"></ng-include>


    <div ng-if="welcome" class="highlightPositive" style="width:100%;margin-top:5px;opacity:0.8;">
        <div><ons-icon class="clickable" icon="fa-times-circle-o" style="margin-left:92%;" size="lg" ng-click="closeWelcomeInfo()"/></div>
        <div style="padding:10px;">Welcome! Your user has been created. You can change your search parameters under settings and in your profile! In the profile you can also add contact info for other users.</div>
        <img src="images/swipe-right.png" />
    </div>

    <div class="content-padded">
        <button class="button--large--cta" ng-click="menu.setMainPage('pages/findUsers.html', {closeMenu: true})">Find people around</button>
    </div>

    <ons-list>
        <span>
            <ons-list-header>
                Other users compared your profiles <ons-icon icon="fa-compress"
                                                                size="20px"
                                                                fixed-width="false"
                                                                class="headerIconRight">
                </ons-icon>
            </ons-list-header>

        </span>
        <ons-list-item ng-class="{active: hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
                        ng-repeat="userCmp in lastComparisons" ng-click="showUserComparison(userCmp)" modifier="chevron">
            <ons-row align="center">
                <ons-col width="80px">
                    <img ng-src="{{userCmp.profilePicUrl || 'images/profile-icon.png'}}" class="avator profile-image-small" />
                </ons-col>
                <ons-col>
                    <ons-row class="item-desc">{{ userCmp.userName }}</ons-row>
                    <ons-row class="item-desc">{{ userCmp.date }}</ons-row>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item ng-if="lastComparisons.length == 0">
            <span>Here you see users you connected with in the past. So far there are none.</span>
        </ons-list-item>
    </ons-list>

    <ons-list>
        <span>
            <ons-list-header>
                Current and upcoming events <ons-icon icon="fa-calendar"
                                                             size="20px"
                                                             fixed-width="false"
                                                             class="headerIconRight">
                </ons-icon>
            </ons-list-header>

        </span>
        <ons-list-item ng-class="{active: hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
                        ng-click="gotoEvent(event)" ng-repeat="event in events" modifier="chevron">
            <ons-row align="center">
                <ons-col width="60%">
                    <ons-row class="item-desc textImportant">{{event.name}}</ons-row>
                    <ons-row class="item-desc textDetail">{{ event.place }}</ons-row>
                </ons-col>
                <ons-col style="text-align:right;">
                    <ons-row class="item-desc">{{ event.from }}</ons-row>
                    <ons-row class="item-desc">{{ event.to }}</ons-row>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item ng-if="!events">
            <span>There are no events at the moment.</span>
        </ons-list-item>
    </ons-list>

    <ons-template id="initialSettings.html">
        <ons-dialog var="initialDialog" modifier="border">

            <ons-toolbar inline>
                <div class="center">
                    <strong>Initial account settings</strong>
                </div>
            </ons-toolbar>
            <div style="padding: 0px 10px;border-top: 2px solid black;">
                <p>
                    <input placeholder="Your username" class="text-input" ng-model="initSettings.username">
                </p>
                <div style="margin-top:5px;" class="highlightInfo content-padded">
                    Choose whether you are looking for people in private or business context (or both).
                </div>
                <p>
                    Business
                    <ons-switch style="margin-left:10px;" ng-model="initSettings.businessInterested" ng-change="changeInitialInterest()"></ons-switch>
                </p>
                <p>
                    Private
                    <ons-switch style="margin-left:25px;" ng-model="initSettings.privateInterested" ng-change="changeInitialInterest()"></ons-switch>
                </p>

                <p>
                    <ons-button modifier="large" ng-click="initialDialog.hide();saveInitialSettings();">Save</ons-button>
                </p>
            </div>
        </ons-dialog>
    </ons-template>

</ons-page>

