<ons-page ng-controller="loginController">

    <ng-include src="'pages/detail/connectusToolbar.html'"></ng-include>

    <div ng-show="showCustomLogin" ng-hide="!showCustomLogin" class="animateLoginForm ng-hide">
        <ons-list style="background-color:#eee; border-bottom: 1px solid lightgray;">
            <ons-list-item>
                <input ng-model="username" type="text" placeholder="Username" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-list-item>


            <ons-list-item>
                <input ng-model="password" type="password" placeholder="Password" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-list-item>
        </ons-list>
        <div class="content-padded">
            <ons-button modifier="large"
                        ng-click="login()">
                Sign in
            </ons-button>

        </div>
        <h4 class="content-padded" style="text-align:center;">
            Have you already<button class="button--quiet" style="display:inline;" ng-click="menu.setMainPage('pages/register.html', { animation: slide });">registered</button>a user?
        </h4>


        <div ng-if="loginFailed" style="margin-top:5px;" class="highlightNegative content-padded">
            Login failed - Invalid Username or Password?
        </div>
    </div>

    <button class="button--large--quiet content-padded" 
            ng-click="fbLogin()">
        <ons-icon icon="fa-facebook-official" />
        Facebook Login
    </button>

    <button class="button--large--quiet content-padded"
            ng-click="liLogin()">
        <ons-icon icon="fa-linkedin-square" />
        LinkedIn Login
    </button>

    <button class="button--large--quiet content-padded"
            ng-click="showCustomLogin = !showCustomLogin">
        Show/Hide Custom Login (for testing)
    </button>

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div>
                    <h1 style="width:20%;display:inline;text-align:left;color:cornflowerblue;">1</h1>
                    <ons-icon icon="fa-arrow-right" />
                    <h3  style="width:80%;display:inline;">Synchronize profile information</h3>
                    <p>Import your data from facebook and/or LinkedIn.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <h1 style="width:20%;display:inline;text-align:left;color:cornflowerblue;">2</h1>
                    <ons-icon icon="fa-arrow-right" />
                    <h3 style="width:80%;display:inline;">Find near users</h3>
                    <p>See who is around or at the same event as you.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <h1 style="width:20%;display:inline;text-align:left;color:cornflowerblue;">3</h1>
                    <ons-icon icon="fa-arrow-right" />
                    <h3 style="width:80%;display:inline;">Compare profiles</h3>
                    <p>Check which profile attributes match with other users.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <h1 style="width:20%;display:inline;text-align:left;color:cornflowerblue;">4</h1>
                    <ons-icon icon="fa-arrow-right" />
                    <h3 style="width:80%;display:inline;">Connect</h3>
                    <p>Exchange contact information and connect with interesting people.</p>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</ons-page>