<ons-page ng-controller="userContactController">
    <ng-include src="'pages/detail/connectusToolbar.html'"></ng-include>

    <ng-include style="margin-left:15px;margin-top:5px;" src="'pages/detail/userInfo.html'"></ng-include>

    <ons-list class="contactList">
        <ons-list-header>
            Contact information <ons-icon icon="fa-user"
                                   size="20px"
                                   fixed-width="false"
                                   class="headerIconRight">
            </ons-icon>
        </ons-list-header>
        <ons-list-item>
            First name:
            <label modifier="list-item"  ng-bind="user.userContact.firstname" />
        </ons-list-item>
        <ons-list-item>
            Last name:
            <label ng-bind="user.userContact.lastname" />
        </ons-list-item>
        <ons-list-item>
                Phone number:
                <label modifier="list-item" ng-bind="user.userContact.phoneNumber" />
        </ons-list-item>
        <ons-list-item>
            E-Mail:
            <label ng-bind="user.userContact.eMail" />
        </ons-list-item>
        <ons-list-item>
            Age:
            <label modifier="list-item" ng-bind="user.age" />
        </ons-list-item>
    
    </ons-list>
    <ons-list>
        <ons-list-header>
            Profile Links <ons-icon icon="fa-link"
                                    size="20px"
                                    fixed-width="false"
                                    class="headerIconRight">
            </ons-icon>
        </ons-list-header>

        <ons-list-item ng-if="user.fbConnected">
            <a href="{{user.fbLink}}">Facebook Profile Link</a>
        </ons-list-item>
        <ons-list-item ng-if="user.linkedInConnected">
            <a href="{{user.linkedInProfileLink}}">LinkedIn Profile Link</a>
        </ons-list-item>
    </ons-list>

    <div ng-if="!user.fbConnected && !user.linkedInConnected" class="highlightInfo" style="margin-bottom:5px;">Currently the user has not connected any profile.</div>

</ons-page>